.greeting {
  &__main {
    padding-top: 45px;
  }

  &__head {
    display: flex;
    align-items: center;
  }

  &__img {
    margin-right: 15px;
    width: 40%;
  }

  &__leader {
    display: flex;
    flex-direction: column;
    width: 65%;
  }

  &__name {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    color: #171717;

    @include w450 {
      font-size: 18px;
    }

    @include mobile-xs {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__post {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #171717;

    @include w450 {
      font-size: 14px;
    }

    @include mobile-xs {
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__greet {
    padding-top: 35px;
  }

  &__text {
    margin-top: 22px;
  }
}
