.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../img/main-screen-background-top.svg') no-repeat top left,
  linear-gradient(to bottom, #1b1b1b, #000);

  img {
    width: 100px;
  }

  &__text {
    margin-bottom: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--color-orange);

    &:first-of-type {
      margin-top: 38px;
    }
  }

  &__button {
    display: block;
    margin: 0;
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}
