@font-face {
  src: url('../fonts/GLInterstateBold.otf') format('truetype');
  font-family: 'glinterstate';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('../fonts/GLInterstateRegular.otf') format('truetype');
  font-family: 'glinterstate';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('../fonts/GLInterstateLight.otf') format('truetype');
  font-family: 'glinterstate';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  margin: 0;
  font-family: "glinterstate", sans-serif;
  background: //url('../img/background-bottom.svg') no-repeat 94% 102%,
    var(--color-white);

  &::after {
    content: "";
    position: fixed;
    right: 24px;
    bottom: -30px;
    z-index: -1;
    width: 200px;
    height: 200px;
    background: url('../img/background-bottom.svg') no-repeat bottom right;
  }
}

.black-body {
  background: //url('../img/background-bottom.svg') no-repeat 94% 102%,
    #171717;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn-submit {
  align-self: center;
  margin-top: 55px;
  border-radius: 5px;
  width: 90%;
  height: 57px;
  max-width: 300px;
  box-shadow: 0 2px 20px rgba(255, 231, 179, 0.4);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  background: linear-gradient(217.42deg, #ffc041 12.98%, #f8ce7a 50.58%, #ffc041 80.57%);

  &:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    background: linear-gradient(217.42deg, rgba(255, 191, 64, 0.7) 12.98%, rgba(247, 205, 121, 0.7) 50.58%, rgba(255, 191, 64, 0.7) 80.57%);
  }

  @include mobile-xs {
    font-size: 13px;
  }
}

.container {
  margin: 0 auto;
  padding-right: 35px;
  padding-bottom: 50px;
  padding-left: 35px;
  max-width: 100%;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.header {
  position: relative;
  height: 120px;
  background: url('../img/main-screen-background-top.svg') no-repeat -40px top,
  #1b1b1b;
  background-size: contain;

  &__link {
    position: absolute;
    left: 35px;
    top: 40px;
    width: 40px;
    height: 40px;
    //background: url('../img/arrow.svg') no-repeat center;

    svg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 100%;
    }

    &:active {
      svg {
        fill-opacity: 0.5;
      }
    }

    @include mobile-xs {
      left: 20px;
    }
  }

  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    height: 100%;
    text-align: center;
  }
}

.title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 22.3px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-orange);

  @include mobile-xs {
    font-size: 18px;
  }
}

.text {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: #171717;
}

.section {
  overflow: auto;
  min-height: 100vh;
  //background: url('../img/background-bottom.svg') no-repeat 94% 102%;
  //background-size: 25vw;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--color-orange);
  height: 50px;
  background-color: #404040;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7px;
    height: 100%;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #737373;

    i {
      font-style: normal;
      font-size: 9px;
      text-transform: uppercase;
    }
  }

  &__link--active {
    position: relative;
    color: var(--color-orange);
    background: url('../img/arrow-top.svg') no-repeat center bottom;

    span {
      position: absolute;
      bottom: -35px;
      font-weight: 700;
      font-size: 22px;
      white-space: nowrap;
      text-transform: uppercase;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 70%;

  &__input {
    margin-bottom: 30px;
    border: 2px solid var(--color-orange);
    border-radius: 5px;
    padding: 0 15px;
    height: 57px;
    font-size: 18px;
    color: var(--color-white);
    background-color: #171717;

    &::placeholder {
      font-weight: 300;
      font-size: 18px;
      text-align: center;
      color: var(--color-orange);

      @include mobile-xs {
        font-size: 16px;
      }
    }
  }
}
